<div class="cards-container">
  <mat-card class="card" *ngFor="let item of items; trackBy: trackById">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editItem(item)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="removeItem(item)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>  
      </mat-card-header>
      <mat-card-content>
        <label>Direccion</label>
        <p>{{ item.address }}</p>
        <label>Ciudad</label>
        <p>{{ item.city }}</p>
        <label>Latitud</label>
        <p>{{ item.latitude}}</p>
        <label>Longitud</label>
        <p>{{ item.longitude }}</p>
        <!-- <label>Tipos de Donacion</label>
        <p>{{ item.donationTypes }}</p> -->
      </mat-card-content>
      <img mat-card-image [src]="item.image || 'https://via.placeholder.com/600x300?text=Sin+Imagen'" alt="Donation center image">
    </mat-card>
  </div>