<h2>Buscar</h2>
<form [formGroup]="searchForm" (ngSubmit)="submit()">

    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Tipo de Sangre</mat-label>
        <mat-select formControlName="bloodTypeId" required>
            <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.id">
                {{ bloodType.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Centro de Donacion</mat-label>
        <mat-select formControlName="donationCenterId" required>
            <mat-option *ngFor="let donationCenter of donationCenters" [value]="donationCenter.id">
                {{ donationCenter.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Tipo de Donacion</mat-label>
        <mat-select formControlName="donationTypeId" required>
            <mat-option *ngFor="let donationType of donationTypes" [value]="donationType.id">
                {{ donationType.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Buscar...</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div mat-dialog-actions class="justify-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="searchForm.invalid">
            Buscar
        </button>
        <button (click)="resetFilters()">Clear Filters</button>
    </div>
</form>

<!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
<!-- <user-card [items]="filteredUsers"></user-card> -->
<donation-center-card [items]="filteredDonationCenters"></donation-center-card>
